@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 212 71% 94%;
    --foreground: 217 81% 18%;
    --card: 0 0% 100%;
    --card-foreground: 217 81% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 217 81% 18%;
    --primary: 217 81% 18%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 34% 92%;
    --secondary-foreground: 217 81% 18%;
    --muted: 216 34% 92%;
    --muted-foreground: 217 81% 35%;
    --accent: 51 100% 50%;
    --accent-foreground: 217 81% 18%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 34% 87%;
    --input: 216 34% 87%;
    --ring: 217 81% 18%;
    --chart-1: 217 81% 18%;
    --chart-2: 51 100% 50%;
    --chart-3: 197 37% 34%;
    --chart-4: 43 74% 56%;
    --chart-5: 27 87% 57%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 217 81% 18%;
    --sidebar-primary: 217 81% 18%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 212 71% 94%;
    --sidebar-accent-foreground: 217 81% 18%;
    --sidebar-border: 216 34% 87%;
    --sidebar-ring: 217 81% 18%;
  }
  .dark {
    --background: 217 81% 10%;
    --foreground: 212 71% 85%;
    --card: 217 81% 12%;
    --card-foreground: 212 71% 85%;
    --popover: 217 81% 10%;
    --popover-foreground: 212 71% 85%;
    --primary: 217 81% 50%;
    --primary-foreground: 217 81% 10%;
    --secondary: 217 81% 15%;
    --secondary-foreground: 212 71% 85%;
    --muted: 217 81% 15%;
    --muted-foreground: 212 71% 65%;
    --accent: 51 100% 50%;
    --accent-foreground: 217 81% 18%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 81% 20%;
    --input: 217 81% 20%;
    --ring: 217 81% 50%;
    --chart-1: 217 81% 50%;
    --chart-2: 51 100% 50%;
    --chart-3: 197 37% 44%;
    --chart-4: 43 74% 56%;
    --chart-5: 27 87% 57%;
    --sidebar-background: 217 81% 11%;
    --sidebar-foreground: 212 71% 85%;
    --sidebar-primary: 217 81% 50%;
    --sidebar-primary-foreground: 217 81% 10%;
    --sidebar-accent: 217 81% 15%;
    --sidebar-accent-foreground: 212 71% 85%;
    --sidebar-border: 217 81% 20%;
    --sidebar-ring: 217 81% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
